@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-payae-bg text-white antialiased selection:bg-payae-accent selection:text-black;
  }
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}